<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="listeners.CustomListener" />
    </listeners>

    <test name="test">
        <parameter name="browser" value="chromium"/>
        <classes>
            <class name="storetest.KYCPage">
            <methods>
            <include name="kycpage"></include>
            </methods>
            </class>
        </classes>
    </test>
</suite>
